.full-height{
    height: calc(100vh - 4px);
}
.scroll{
    overflow-y: auto;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.panel{
    width: 100%;
}
.panel-heading, .panel-footer{
    height: 50px;
}
.body{
    height: calc(100vh - 108px);
}
.match-parent{
    height: 100%;
    width: 100%;
}
.log{
    color: cyan;
}
.holder{
    padding: 2px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 3px;
}
li:nth-child(odd) {
    background: #eee;
}
img{
    max-width: 100%;
    height: auto;
}