.full-height{
    height: calc(100vh - 4px);
}
.scroll{
    overflow-y: auto;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.panel-heading, .panel-footer{
    height: 50px;
}
.body{
    height: calc(100vh - 108px);
}
.match-parent{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 5px;
}
li:nth-child(odd) {
    background: #eee;
}